# Basic R Practice

## Importing Data on R

### CSV Files

In [1]:
csv_file <- url("https://raw.githubusercontent.com/mvillalbao/GMU_Experimental/refs/heads/main/01_data/raw_dataset.csv") # replace with path/to/csv_file.csv
data_csv <- read.csv(csv_file)

head(data_csv)

  product_A product_B price growth_rate customer_name region      sales_target
1 unknown   9999      2,500 50%         dave          west        5000
2 nan         50      3,500 50%          Eve          North       unavailable
3 300       9999      1,000 10%          Alice        East        30000
4 nan        150      1,000 nan         bob           North       20000
5 nan         50      4,000 50%         bob           East        5000
6 200         NA      3,500 30%          Alice        south south 20000
  order_date employee_id feedback
1 2021-06-15 ID_19       poor
2 2022-03-22 ID_15       poor
3 2021-01-10 ID_16       nan
4 2021-01-10 ID_11       average
5 2021-06-15 ID_16       excellent
6 2021-01-10 ID_8        average

### Excel Files

In [2]:
xlsx_file <- "https://raw.githubusercontent.com/mvillalbao/GMU_Experimental/refs/heads/main/01_data/raw_dataset.xlsx" # replace with path/to/xlsx_file.xlsx

library(openxlsx)
data_xlsx <- read.xlsx(xlsx_file, sheet = "Sheet1")

head(data_xlsx)

  product_A product_B price growth_rate customer_name
1 unknown   9999      2,500 50%         dave
2 nan         50      3,500 50%         xml:space="preserve"> Eve
3 300       9999      1,000 10%         xml:space="preserve"> Alice
4 nan        150      1,000 nan         bob
5 nan         50      4,000 50%         bob
6 200         NA      3,500 30%         xml:space="preserve"> Alice
  region      sales_target order_date employee_id feedback
1 west        5000         2021-06-15 ID_19       poor
2 North       unavailable  2022-03-22 ID_15       poor
3 East        30000        2021-01-10 ID_16       nan
4 North       20000        2021-01-10 ID_11       average
5 East        5000         2021-06-15 ID_16       excellent
6 south south 20000        2021-01-10 ID_8        average

### Stata Files

In [3]:
dta_file <- url("https://raw.githubusercontent.com/mvillalbao/GMU_Experimental/refs/heads/main/01_data/raw_dataset.dta") # replace with path/to/dta_file.dta

library(haven)
data_dta <- read_dta(dta_file)

head(data_dta)

  product_a product_b price growth_rate customer_name region      sales_target
1 unknown   9999      2,500 50%         dave          west        5000
2 nan         50      3,500 50%          Eve          North       unavailable
3 300       9999      1,000 10%          Alice        East        30000
4 nan        150      1,000 nan         bob           North       20000
5 nan         50      4,000 50%         bob           East        5000
6 200         NA      3,500 30%          Alice        south south 20000
  order_date employee_id feedback
1 2021-06-15 ID_19       poor
2 2022-03-22 ID_15       poor
3 2021-01-10 ID_16       nan
4 2021-01-10 ID_11       average
5 2021-06-15 ID_16       excellent
6 2021-01-10 ID_8        average

### Text Files

In [4]:
txt_file <- url("https://raw.githubusercontent.com/mvillalbao/GMU_Experimental/refs/heads/main/01_data/raw_dataset.txt") # replace with path/to/txt_file.txt

data_txt <- read.table(txt_file, header = TRUE, sep = "\t")

head(data_txt)

  product_A product_B price growth_rate customer_name region      sales_target
1 unknown   9999      2,500 50%         dave          west        5000
2 nan         50      3,500 50%          Eve          North       unavailable
3 300       9999      1,000 10%          Alice        East        30000
4 nan        150      1,000 nan         bob           North       20000
5 nan         50      4,000 50%         bob           East        5000
6 200         NA      3,500 30%          Alice        south south 20000
  order_date employee_id feedback
1 2021-06-15 ID_19       poor
2 2022-03-22 ID_15       poor
3 2021-01-10 ID_16       nan
4 2021-01-10 ID_11       average
5 2021-06-15 ID_16       excellent
6 2021-01-10 ID_8        average

### SPSS Files

In [5]:
sav_file <- url("https://raw.githubusercontent.com/mvillalbao/GMU_Experimental/refs/heads/main/01_data/raw_dataset.sav") # replace with path/to/sav_file.sav

data_sav <- read_sav(sav_file)

head(data_sav)

  product_A product_B price growth_rate customer_name region      sales_target
1 unknown   9999      2,500 50%         dave          west        5000
2 nan         50      3,500 50%          Eve          North       unavailable
3 300       9999      1,000 10%          Alice        East        30000
4 nan        150      1,000 nan         bob           North       20000
5 nan         50      4,000 50%         bob           East        5000
6 200         NA      3,500 30%          Alice        south south 20000
  order_date employee_id feedback
1 2021-06-15 ID_19       poor
2 2022-03-22 ID_15       poor
3 2021-01-10 ID_16       nan
4 2021-01-10 ID_11       average
5 2021-06-15 ID_16       excellent
6 2021-01-10 ID_8        average

## Data Cleaning Example

In [6]:
csv_file <- url("https://raw.githubusercontent.com/mvillalbao/GMU_Experimental/refs/heads/main/01_data/raw_dataset.csv") # replace with path/to/csv_file.csv

data <- read.csv(csv_file)
head(data)

  product_A product_B price growth_rate customer_name region      sales_target
1 unknown   9999      2,500 50%         dave          west        5000
2 nan         50      3,500 50%          Eve          North       unavailable
3 300       9999      1,000 10%          Alice        East        30000
4 nan        150      1,000 nan         bob           North       20000
5 nan         50      4,000 50%         bob           East        5000
6 200         NA      3,500 30%          Alice        south south 20000
  order_date employee_id feedback
1 2021-06-15 ID_19       poor
2 2022-03-22 ID_15       poor
3 2021-01-10 ID_16       nan
4 2021-01-10 ID_11       average
5 2021-06-15 ID_16       excellent
6 2021-01-10 ID_8        average

In R, you can generate new variables by simply assigning them to your dataset.

Let's say we want to create a new variable `total_sales` as the sum of `product_A` and `product_B`

In [7]:
data$product_A <- as.numeric(data$product_A) # We coerce 'product_A' to numeric
data$total_sales <- rowSums(data[, c("product_A", "product_B")], na.rm = TRUE)

data$total_sales[1:10]

Warning message in eval(expr, envir, enclos):
"NAs introduced by coercion"

 [1]  9999    50 10299   150    50   200   550 10299   550   250

The `price` column contains commas instead of points for decimals.

In [8]:
data$price <- as.numeric(gsub(",", ".", data$price))

data$price[1:10]

 [1] 2.50 3.50 1.00 1.00 4.00 3.50 5.75 3.50 4.00 4.00

The `growth_rate` string column contains percentages (e.g., "50%").

In [9]:
data$growth_rate <- as.numeric(gsub("%", "", data$growth_rate))/100

data$growth_rate[1:10]

 [1] 0.5 0.5 0.1 NaN 0.5 0.3 0.4 0.1 0.4 0.5

Clean `customer_name` and `region` column: remove leading/trailing spaces and standardize to lowercase.

In [10]:
data$customer_name <- tolower(trimws(data$customer_name))
data$region <- tolower(trimws(data$region))

data[1:5, c("customer_name", "region")]

  customer_name region
1 dave          west
2 eve           north
3 alice         east
4 bob           north
5 bob           east

For `sales_target`, convert "unavailable" to NA and then convert the column to numeric.

In [11]:
data$sales_target[data$sales_target == "unavailable"] <- NA
data$sales_target <- as.numeric(data$sales_target)

data$sales_target[1:10]

 [1]  5000    NA 30000 20000  5000 20000  5000  5000  5000 30000

In [12]:
head(data)

  product_A product_B price growth_rate customer_name region      sales_target
1  NA       9999      2.5   0.5         dave          west         5000
2 NaN         50      3.5   0.5         eve           north          NA
3 300       9999      1.0   0.1         alice         east        30000
4 NaN        150      1.0   NaN         bob           north       20000
5 NaN         50      4.0   0.5         bob           east         5000
6 200         NA      3.5   0.3         alice         south south 20000
  order_date employee_id feedback  total_sales
1 2021-06-15 ID_19       poor       9999
2 2022-03-22 ID_15       poor         50
3 2021-01-10 ID_16       nan       10299
4 2021-01-10 ID_11       average     150
5 2021-06-15 ID_16       excellent    50
6 2021-01-10 ID_8        average     200